*{
    background: hsl(212, 45%, 89%);
}
@media screen and (max-width: 375px){

    img{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 15%;
        width: 100px;
        height: 100px;
        border-radius: 5%;
    }
    .inner-card{
        margin-top: 25%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 5%;
        background: hsl(0, 0%, 100%);
    }
    h2{
        font-family: 'Outfit', sans-serif;
        background: hsl(0, 0%, 100%);
        font-family: 'Source Code Pro', monospace;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
    }
    bold{
        background: hsl(0, 0%, 100%);
    }
    h3{
        background: hsl(0, 0%, 100%);
        font-family: 'Source Code Pro', monospace;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        border-radius: 5%;
    }


}